@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    O projecto a realizar em Programação na Internet tem por objectivo a análise, desenho e implementação dum sistema para gestão de projectos, inspirado na aplicação Trello.
    
    <h4>Projecto realizado pelo Grupo 16</h4>
    <ul>
        <li>Susana Pedro</li>
        <li>Diogo Matos</li>
        <li>Pedro Jorge</li>
    </ul>
</p>
